.table-responsive {
    min-height: 300px;
    position: relative;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .fst-italic {
    font-style: italic;
  }
  
  .btn-group .btn {
    margin-right: 5px;
  }
  
  .btn-group .btn:last-child {
    margin-right: 0;
  }